*{
    padding:0;
    margin:0;
    font-family:"Poppins",sans-serif;
}

/* NAVIGATION CONTAINER */

.navigation-container{
    background-color:#DDE1E4;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display:flex;
    justify-content:space-between;
    max-width:100vw;
    position:sticky;
    top:0;
    left:0;
}

.logo-container{
    margin:10px 0px 0px 50px;
}

.navigation-container nav{
    margin:20px 30px;
}

.navigation-container nav ul{
    display:flex;
}

.navigation-container nav ul li{
    padding:0px 20px;
    list-style:none;
}

.navigation-container nav ul li a{
    font-size:large;
    font-weight:700;
    text-decoration:none;
    color:#48525B;
    
}

/* HOME CONTAINER */
.home-container{
    background-image: url('/Assets/images/hero4.png');
    height:100vh;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
}

.home-text-container{
    font-family:'Poppins',sans-serif;
    margin-left:50px;
    height:250px;
    display:grid;
    align-content:space-around;
}

.home-text-container h1{
    font-size:42px;
    font-weight:800;
}

.text-color{
    color:#429E9B;
}

.home-text-container h3{
    font-size :18px;
    font-weight:700;
    color:#48525B;
}

.shop-now-button{
    background:url('/images/button.png');
    height:50px;
    background-repeat:no-repeat;
    width:250px;
    font-size:20px;
    font-weight:700;
    color:#429E9B;
    border:none;
}

/* FEATURE SECTION */


.feature-container{
    margin:100px 10px 20px 10px;
    display:flex;
    justify-content:space-around;
}

.feature-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    padding:30px 10px;
    border-radius:4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.feature-card p{
    border-radius:4px;
    color:#429E9B;
    font-weight:800;
    margin:50px 0px 0px 0px;
    padding:5px 5px;
}

.feature-card:nth-child(1) p{
    background-color:#e2947841;
}

.feature-card:nth-child(2) p{
    background-color:#cbf3f0;
}

.feature-card:nth-child(3) p{
    background-color:#fdffb6;
}

.feature-card:nth-child(4) p{
    background-color:#baa89884;
}

.feature-card:nth-child(5) p{
    background-color:#fcb1a6;
}

.feature-card:nth-child(6) p{
    background-color:#ff5a5a7b;
}